root = true

[*]
charset = utf-8

[*.cs]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
csharp_keep_user_linebreaks = true
csharp_keep_existing_linebreaks = true
max_line_length = 120
rulers = 120
