root = true

[*]
charset = utf-8

[*.cs]
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
csharp_keep_user_linebreaks = true
csharp_keep_existing_linebreaks = true
max_line_length = 120
rulers = 120
csharp_place_attribute_on_same_line = never
csharp_wrap_before_binary_opsign = true
csharp_wrap_parameters_style = chop_if_long
csharp_wrap_before_declaration_rpar = true
csharp_wrap_before_primary_constructor_declaration_rpar = true
csharp_wrap_before_invocation_rpar = true
csharp_wrap_after_declaration_lpar = true
csharp_wrap_after_invocation_lpar = true
csharp_wrap_arguments_style = chop_if_long
csharp_braces_for_ifelse = required
csharp_align_multiline_binary_patterns = false
csharp_align_multiline_binary_expressions_chain = false

[*.py]
ij_python_wrap_long_lines = true
ij_python_call_parameters_wrap = on_every_item
ij_python_method_parameters_wrap = on_every_item
ij_python_call_parameters_right_paren_on_new_line = true
ij_python_method_parameters_right_paren_on_new_line = true
ij_python_align_multiline_parameters = false
ij_python_call_parameters_new_line_after_left_paren = true
ij_python_method_parameters_new_line_after_left_paren = true
