<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
    <add key="local" value="./nuget" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget">
      <package pattern="*" />
      <package pattern="GodotSharp.SourceGenerators" />
      <package pattern="Microsoft.NETCore.App.Runtime" />
      <package pattern="Microsoft.WindowsDesktop.App.Runtime" />
      <package pattern="Microsoft.AspNetCore.App.Runtime" />
      <package pattern="GodotSharp.SourceGenerators.*" />
      <package pattern="Microsoft.NETCore.App.Runtime.*" />
      <package pattern="Microsoft.WindowsDesktop.App.Runtime.*" />
      <package pattern="Microsoft.AspNetCore.App.Runtime.*" />
    </packageSource>
    <packageSource key="local">
      <package pattern="Godot" />
      <package pattern="Godot.*" />
      <package pattern="GodotSharp" />
      <package pattern="GodotSharp.*" />
      <package pattern="GodotSharpEditor" />
      <package pattern="GodotSharpEditor.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
